.DS_Store
Thumbs.db
.idea/
.vscode/
.env
.env.*
*.jar
*.zip
*.pem
*.key
*.p12
*.jks

/mods/
/shaderpacks/
/saves/
/world/
/logs/
/crash-reports/
/screenshots/
/local/
/manifest.json
/minecraftinstance.json

/overrides/mods/
/overrides/shaderpacks/
/overrides/saves/
/overrides/world/
/overrides/logs/
/overrides/crash-reports/
/overrides/screenshots/
/overrides/local/
/overrides/manifest.json
/overrides/minecraftinstance.json

